header {
  background-image: url(images/assets/delani2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 40rem;
  color: white;
  text-align: center;
  padding-top: 10rem;
}

#what-we-do {
    display: flex;
    justify-content: space-evenly;
    padding: 5rem;
}
#about-us {
  text-align: center;
  padding: 2rem;
}

#services {
  background-image: url(images/assets/delani3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 20rem;
  color: white;
  text-align: center;
  padding-top: 5rem;
  padding: 2rem;
}

#images {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

#images2 {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

#portfolio {
  text-align: center;
  padding-top: 2rem;
  padding: 5rem;
}

.form {
  justify-content: space-between;
  padding: 3rem;
  background-image: url(images/assets/delani1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
}

input[type="text"],
textarea {
  background-color: rgba(255, 255, 255, 0.658);
  border: 1px solid white;
}


footer {
  text-align: center;
  padding: 2rem;
}

